<div class="weather-container">
  <div class="header">
    <div class="back_btn"><i class="material-icons">arrow_back</i></div>
    <div class="location">{{location}}</div>
    <div class="settings" (click)="onToggleSettings()">
      <i class="wi wi-celsius"></i>
      <i class="material-icons" *ngIf="unit === 'C'">toggle_off</i>
      <i class="material-icons" *ngIf="unit === 'F'">toggle_on</i>
        <i class="wi wi-fahrenheit"></i>
    </div>
  </div>
  <div class="date">{{current.day}}</div>
  <div class="description">{{current.description}}</div>
  <div class="current">
    <div class="temp">{{current.temp}}&#176;{{unit}}</div>
    <div class="icon"><i [ngClass]="['wi', current.icon]"></i></div>
    <div>
      <div class="day_forecast">
        <div>Morning</div>
        <div>{{dayForecast[0].temp}}&#176;{{unit}}</div>
        <div>Day</div>
        <div>{{dayForecast[1].temp}}&#176;{{unit}}</div>
        <div>Evening</div>
        <div>{{dayForecast[2].temp}}&#176;{{unit}}</div>
        <div>Night</div>
        <div>{{dayForecast[3].temp}}&#176;{{unit}}</div>
      </div>
    </div>
  </div>

  <div class="forecast">
    <app-weather-item *ngFor="let day of forecast" [day]="day" [unit]="unit">
    </app-weather-item>
  </div>
</div>
