.location-container
  display: grid
  grid-template-rows: 35% 15% 15% 25%
  align-items: center
  height: 100%
  div
    text-align: center
  .search-results
    height: 100%
    grid-row-start: 2
    input
      font-size: 25px
      width: 400px
      height: 50px
      border: 0
      outline: 0
      border-bottom: 2px solid #4b6677
      text-align: center
    .material-icons
      font-size: 25pt
      display: inline-block
      position: relative
      left: -30px
      top: 10px
  .browser-location
    height: 100%
    grid-row-start: 3
    span
      display: inline-block
      cursor: pointer
      border-bottom: 1px dashed #596768
