<div class="location-container">
  <div class="location-search">
    <div class="search-container">
      <input [value]="location.name" placeholder="City"
             ngxTypeahead
             [taUrl]="url"
             [taParams]="params"
             [taApi]="'http'"
             [taItemTpl]="itemTpl"
             (taSelected)="handleResultSelected($event)"
      ><i class="material-icons">search</i>
    </div>

    <ng-template #itemTpl let-result class="search-results">
      <div class="search-result-item">
        <span>{{result.result.LocalizedName}}, {{result.result.Country.LocalizedName}}</span>
      </div>
    </ng-template>


  </div>

  <div class="browser-location">
    <div>or</div>
    use my <span class="my-location" (click)="useBrowserLocation()">current position</span>
  </div>

</div>
