.day-container{
  display: grid;
  color: #516570;
  grid-template-rows: 20% 50% 30%;
  height: 100%;
  align-items: center;
}
.w-day{
  text-align: center;
  vertical-align: bottom;
}
.w-icon{
  text-align: center;
  font-size: 40pt;
}
.w-temp{
  text-align: center;
}
